[user]
	name = Nic Wolff
	email = nwolff@hearst.com
[alias]
	amend = commit -a --amend -C HEAD
	ar = ! git add . && git rebase --continue
	back = checkout '@{-2}'
	blast = ! [ `git symbolic-ref HEAD` != refs/heads/master ] && git co -f && git co master && git branch -D '@{-1}'
	br = branch
	branches = for-each-ref --sort=-committerdate refs/heads/ --format='%(committerdate:short) %09%(authorname) %09%(refname:short)'
	cb = ! sh -c 'git checkout --no-track -b $1 origin/develop' -
	cf = checkout -f
	ci = commit -a -m
	cm = commit -m
	co = checkout
	cp = cherry-pick
	ct = ! git fetch && git checkout -t
	dc = diff --cached
	dd = diff -w -U1 origin/develop...
	dl = branch -D '@{-1}'
	dm = diff -w -U1 origin/master...
	dw = diff -w
	dww = diff -w --color-words
	fd = fetch origin develop:develop
	fm = fetch origin master:master
	fo = ! sh -c 'git fetch origin $1:$1' -
	fp = format-patch
	fs = ! git fetch && git br -d -r origin/staging
	lg = log --graph --all
	lgs = log --graph --all --simplify-by-decoration
	lh = log -n 10
	lp = log -p -n 10
	ls-migrations = ! git diff --name-only  master..staging */migrations
	md = ! git checkout develop && git merge --no-ff '@{-1}'
	ml = merge '@{-1}'
	mm = ! git checkout master && git merge --no-ff '@{-1}'
	mn = merge --no-ff
	pad = add -p
	pd = ! git push --delete origin `git rev-parse --abbrev-ref HEAD`
	pf = push -f
	pop = stash pop
	pr = pull --rebase
	r10 = rebase -i -p HEAD~10
	r5 = rebase -i -p HEAD~5
	rd = ! git ls-files -z --deleted | xargs -0 git rm
	recent = for-each-ref --count=25 --sort=-committerdate refs/heads/ --format="%(refname:short)"
	remotes = for-each-ref --sort=-committerdate refs/remotes/ --format='%(committerdate:short) %09%(authorname) %09%(refname:short)'
	rh = reset HEAD^
	rhh = reset --hard HEAD^
	st = status -sb
	this = ! git init && git add . && git commit --allow-empty -m \"Initial commit\"
	up = ! git stash && git fetch origin develop:develop && git rebase -p develop && git stash pop
[core]
	whitespace = fix
	pager = less -S
	preloadindex = true
	excludesfile = ~/.gitignore
[format]
	pretty = format:%C(green)%h%Creset %C(bold yellow)%an%Creset  %s  %C(auto)%d%Creset %C(magenta)%ad (%ar)%Creset
[log]
	date = short
[diff]
	mnemonicprefix = true
	color-words = true
	context = 1
	compactionHeuristic = on
	indentHeuristic = on
[color]
	diff = always
	status = auto
	branch = auto
	ui = auto
[color "branch"]
	current = cyan bold
	local = white
	remote = green
[color "diff"]
	meta = yellow
	frag = cyan
	old = magenta
	new = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = current
[tig]
	tab-size = 4
[advice]
	statusHints = false
[branch]
	autosetupmerge = true
[merge]
	conflictstyle = diff3
[include]
	path = .gitconfig.local
[credential]
	helper = osxkeychain
[rebase]
	autostash = true
	autosquash = true
[fetch]
	prune = true
[clean]
	requireForce = false
[tag]
	sort = version:refname
